@font-face {
  font-family: "RobotoLightItalic";
  src: url(./fonts/Roboto/Roboto-LightItalic.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoLight";
  src: url(./fonts/Roboto/Roboto-Light.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoBold";
  src: url(./fonts/Roboto/Roboto-Bold.ttf) format("truetype");
}
@font-face {
  font-family: "RobotoRegular";
  src: url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
}
* {
  margin: 0;
  font-family: "RobotoRegular";
}

nav {
  background-color: #1f2937;
  font-family: "RobotoRegular", sans-serif;
  display: flex;
  flex-wrap: wrap;
  padding-left: 20px;
  padding-right: 20px;
}

#coDet {
  font-size: 24px;
  font-weight: 700;
  color: #f9faf8;
  display: flex;
  flex-direction: inherit;
  width: 300px;
  align-items: center;
  flex-grow: 1;
  padding: 7px;
}
.navList {
  width: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.navList a,
footer a {
  font-family: "RobotoLight";
  font-size: 18px;
  font-weight: 300;
  color: #e5e7eb;
  text-decoration: none;
}

.sec1 {
  background-color: #1f2937;
  display: flex;
  flex-direction: row;
  padding: 5em 7em;
  justify-content: center;
}
.img {
  height: 300px;
  margin-left: 50px;
}
.htext {
  width: 400px;
}
.hmain {
  font-size: 48px;
  font-weight: 800;
  color: #f9faf8;
  margin: 0;
}
.hsec {
  margin-top: 0;
  font-size: 18px;
  color: #e5e7eb;
  margin-bottom: 10px;
}
.btn {
  text-decoration: none;
  background-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding: 5px 20px;
  margin-top: 10px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background-color;
}
.btn:hover {
  background-color: #21498d;
}
.quote {
  font-family: "RobotoLightItalic", sans-serif;
  background-color: #e5e7eb;
  font-size: 36px;
  color: #1f2937;
  padding: 150px 350px 120px 350px;
}
.quote div {
  font-family: "RobotoBold", sans-serif;
  text-align: right;
}

.title {
  padding: 2em;
}

/* Online shopping */
.onlineshopping {
  margin: 0px 20px 80px 20px;
}
.shoponline {
  padding: 2em;
  font-family: "RobotoBold", sans-serif;
  color: #1f2937;
}
/* Set the container to be a grid layout */
.image-grid-container {
  display: flex;
  flex-wrap: wrap;
  font-family: "RobotoLight", sans-serif;
  padding: 5px;
  margin-bottom: 70px;
}

.image-grid-item {
  flex: 0 0 25%; /* Each image occupies 25% of the container width (4 images per row) */
  padding: 15px; /* Adjust this value to set spacing between images */
  box-sizing: border-box; /* Ensures padding is included in the item width */
}
/* Responsive layout */
@media screen and (max-width: 1300px) {
  .image-grid-item {
    flex: 0 0 33.33%; /* Each image occupies 33.33% of the container width (3 images per row) */
    padding: 15px; /* Adjust this value to set spacing between images */
    box-sizing: border-box; /* Ensures padding is included in the item width */
  }
}

@media screen and (max-width: 900px) {
  .image-grid-item {
    flex: 0 0 50%; /* Each image occupies 50% of the container width (2 images per row) */
    padding: 15px; /* Adjust this value to set spacing between images */
    box-sizing: border-box; /* Ensures padding is included in the item width */
  }
}
@media screen and (max-width: 500px) {
  .image-grid-item {
    flex: 0 0 100%; /* Each image occupies 100% of the container width (1 images per row) */
    padding: 15px; /* Adjust this value to set spacing between images */
    box-sizing: border-box; /* Ensures padding is included in the item width */
  }
}
/* Style for each image */
.image-grid-item img {
  width: 100%; /* Ensure the image takes the full width of its container */
  height: 290px;
  border: 1px solid #ccc; /* Optional: Add a border around the images */
  border-radius: 10px; /* Optional: Add border-radius for a rounded look */

  object-fit: cover; /* Maintain the aspect ratio of the image */
}

.buy {
  float: right;
  background-color: #0021d97e;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  font-size: 16px;
  border-radius: 12px;
  cursor: pointer;
}

footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-weight: 300;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
}

#blogPg {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80vw;
  margin: auto;
}

.sec0 {
  width: 100vw;
  margin: 0;
  padding-top: 2em;
}

#blogPg h1 {
  font-size: 48px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
  padding: 10px;
}

#blogPg h2 {
  font-size: 2.5em;
  text-align: left;
  line-height: 1.5em;
  margin: 2px;
}

.sec2 {
  display: flex;
  flex-direction: row;
}

.sec2 div {
  margin: 2px;
  padding: 20px;
  text-align: justify;
  word-wrap: break-word;
}

.sec2 h3 {
  font-size: 2em;
}
.posts {
  display: flex;
  margin: auto;
  padding-top: 20px;
  width: 75%;
}
.posts h3 {
  font-size: 2em;
  text-align: center;
  padding: 7px;
}
.posts article {
  margin: 10px;
  padding: 10px;
  width: 500px;
  background-color: #e5e7eb;
  text-align: justify;
}
#blogPg p {
  word-wrap: break-word;
}
blockquote.quote {
  width: 15vw;
  margin: auto;
  font-size: 20px;
  padding: 30px 30px;
  border-radius: 10px;
  color: #1f2937;
  word-wrap: inherit;
}
.blogImg {
  height: 250px;
  max-width: 90%;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.blgDiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.blgAside {
  width: 20%;
  padding: 15px;
  font-size: 18px;
  font-style: italic;
  background-color: #e5e7eb;
  color: #1f2937;
}

.blgAside a,
.blgAside li {
  list-style: none;
  color: #1f2937;
  line-height: 1.8em;
}
.abt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-header {
  font-size: 36px;
  font-weight: 800;
  color: #1f2937;
  text-align: center;
  margin: 20px;
}
.team-name {
  font-size: 24px;
  color: #1f2937;
  margin: 20px;
}
.abt img {
  height: 360px;
  width: auto;
  margin: 10px;
}
.abt-text {
  margin: 20px;
  width: 540px;
  justify-content: center;
  color: #1f2937;
}

.callToAction {
  display: flex;
  background-color: #3882f6;
  align-items: center;
  justify-content: center;
  padding: 30px;
  color: white;
  margin-bottom: 100px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 12px;
}

#callToActionBTN {
  margin-left: 20vh;
  border: 1px solid white;
  border-radius: 12px;
  color: black;
  padding: 5px 30px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  text-decoration: none;
}
.randominfo {
  margin-top: 50px;
  margin-bottom: 40px;
}
.picture-list {
  display: flex; /* Use flexbox to create a horizontal list */
  justify-content: space-around; /* Distribute items evenly along the container */
  list-style: none; /* Remove default list styles */
  padding: 0;
  margin: 10px 0; /* Margin top and bottom set to 10 pixels */
}
.random-info {
  margin: 30px;
  display: flex;
  justify-content: center;
}
/* Styling each list item (picture with text) */
.picture-item {
  text-align: justify;
  max-width: 250px;
}

/* Styling the images */
.picture-item img {
  width: 100%;
  height: 50%;
  border-radius: 10px;
  margin-bottom: 10px; /* Space between the image and text */
}
